/* Six-Strings Guitar Shop - Style Sheet */
/* Jerod Hollen - November 20th, 2020 - CSCI 102 */

/* Font Colors - #de9623 #6b3636 #FCE19A*/

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Texturina:ital,wght@0,400;0,700;1,300&display=swap');

/* Universal Selector */
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

/* Body Selector */
body{
    font-family: 'Texturina';
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
    background: radial-gradient(circle, rgba(255,199,0,1) 39%, rgba(222,150,35,1) 100%);
}

/* Header Selector */
header{
    background: linear-gradient(90deg, rgba(54,52,56,1) 32%, rgba(92,90,87,1) 100%);     
    height: 100px;
    box-shadow: 0 5px 10px #1fa4b6;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

/* Logo Style */
.logo{
    width: 80px;
    height: 80px;
    /* margin-top: 7px;
    text-align: left;
    padding-left: 130px;
    float: left; */
}

.logo h1{
    font-family: "New Rocker";
    color: #FFC700;
}
/* logo img */
/* .logo video{
    height: 130px;
    border-radius: 15px;
    border: 2px solid black;
} */

/* nav Selector */
nav{
    /* width: 70%;
    text-align: right;
    float: right;
    margin-top: 100px; */
}

.nav-flex{
    display: flex;
    justify-content: space-between;

}

/* nav a Selector */
nav a{
    font-weight: 500;
    font-size: 1.867em;
    font-family: 'New Rocker';
    padding: 10px 40px;
    text-decoration: none;
    color: #FFC700;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 15px;
}

nav a:hover{
    color: white;
    background-color: #FFC700;
    transition-timing-function: ease;
    transition-delay: 50ms;
}

/* clear fix */
.clearfix{
    clear: both;
}

/* Banner Style */
.banner{
    width: 100%;
    height: 82vh;
    overflow: hidden;
    background-size: cover;
    
}


.banner img{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
} 

/* Banner Content Style */
.banner-content{
    width: 55%;
    line-height: 80px;
    height: 80px;
    text-align: center;
    margin-top: 270px;
}


/* banner-content h1 style */
.banner-content h1{
    color: #FFC700;
    font-weight: 700;
    font-family: 'New Rocker';
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 4em;
    
}


/* main element Selector */
main{
    width: 100%;
    margin: auto;
}

.view-container{
    height: 100vh;
    border-bottom: 0.01px solid black;
    scroll-snap-align: top;
}


/* Welcome class Selector */
.announce{
    background: linear-gradient(90deg, rgba(18,128,148,1) 0%, rgba(4,57,65,1) 35%, rgba(103,191,213,1) 100%);   
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2.5px solid black;
    word-spacing: 2em;
}

/* welcome h1 Selector */
.announce h1{
    font-family: 'New Rocker';
    font-weight: 700;
    font-size: 5.33em;
    color: #fff;
    font-size: 72px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    letter-spacing: 4px;
}

/* Product Container */
.content-container{
    width: 95%;
    height: 600px;
    margin: 40px auto;
    padding-top: 20px;
    box-shadow: 0 20px 60px black;
    border-radius: 15px;
    border: 1px solid black;
    background: rgb(181,179,182);
    background: linear-gradient(90deg, rgba(181,179,182,1) 0%, rgba(255,255,255,1) 25%, rgba(204,200,205,1) 50%, rgba(255,255,255,1) 75%, rgba(181,179,182,1) 100%);
}

.content-container h1{
    line-height: 110px;
    text-align: center;
    font-size: 3em;
    word-spacing: 30px;
    background: rgb(54,52,56);
    background: linear-gradient(90deg, rgba(54,52,56,1) 32%, rgba(92,90,87,1) 100%); 
    color: black;
    font-family: 'New Rocker';
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
    width: 92.5%;
    margin: 25px auto;
    border-radius: 15px;
    border: 1.5px solid black;
    box-shadow: 0 20px 60px black;
}

/* Product Class Style */
.product{
    width: 15%;
    height: 300px;
    float: left;
    text-align: center;
    margin: 25px 32px;
    padding-left: 15px;
    padding-top: 20px;
}

.product img{
    width: 100%;
    box-shadow: 0 20px 60px black;
    border-radius: 15px;
    border: 1px solid black;
}

.product h3{
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    color: black;
    padding: 0 10px;
    margin-top: 25px;
    font-size: 2em;
}

/* Button Stuff */
.button {
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  /* Additional Button Stuff */
  .button:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }

  /* location style */
  .location{
    width: 16.6%;
    float: left;
    margin: 5px 114px;
    
  }

  .location h3{
      color: black;
      line-height: 45px;
      text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
      font-size: 2em;
      text-align: center;
      margin-bottom: 20px;
      height: 45px;
  }

  .location img{
      object-fit: fill;
      border-radius: 15px;
      box-shadow: 0 10px 60px black;
      height: 400px;
  }

  .sign{
      color: black;
      box-shadow: 0 5px 20px black;
      background: rgb(255,199,0);
      background: radial-gradient(circle, rgba(255,199,0,1) 39%, rgba(222,150,35,1) 100%);
      border-radius: 10px;
      text-decoration: none;
      text-align: center;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
  }

  .sign:hover{
      color: white;

  }
  
  .directions{
      width: 120px ;
      height: 35px;
      line-height: 30px;
      border-radius: 10px;
      box-shadow: 0 5px 20px black;
      background: rgb(255,199,0);
      background: radial-gradient(circle, rgba(255,199,0,1) 39%, rgba(222,150,35,1) 100%);
      text-decoration: none;
      text-align: center;
      color: black;
      text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
      margin: 40px 52px;
  }

  

  .name{
      font-style: italic;
  }


.content-Left{
    float: left;
    width: 50%;
    margin: 25px;
    padding: 50px;
}

/* image-Left selector */
.img-Left{
    float: left;
    width: 30%;
    margin-left: 5em;
}

/* image-Left img Selector */
.img-Left img{
    width: 620px;
    height: 592px;
    border-radius: 15px;
    box-shadow: -20px 20px 60px black;
}

/* image-Right selector */
/* .img-Right{
    float: right;
    width: 40%;
    margin: 40px;
    margin-right: 50px;
    padding-right: 20px;
    padding-top: 35px;
} */

/* guitar img class */
.guitar {
    width: 50%;
    height: 597.5px;
}

.guitar img{
    width: 50%;
}

/* img right img style */
.img-Right img{
    width: 100%;
    height: 696px;
    border-radius: 15px;
    box-shadow: 20px 20px 40px black;
}

.content-Right{
    float: right;
    width: 576px;
    margin-right: 50px;
    padding-right: 20px;
    margin-bottom: 3em;
}

.right{
    background: rgb(193,183,203);
    background: linear-gradient(90deg, rgba(193,183,203,1) 0%, rgba(224,219,211,1) 100%);
    min-height: 400px;
    text-align: center;
    min-height: 523px;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 20px 60px black;
}

.right h1{
    height: 50px;
    line-height: 50px;
    background: rgb(18,128,148);
    background: linear-gradient(90deg, rgba(18,128,148,1) 0%, rgba(4,57,65,1) 35%, rgba(103,191,213,1) 100%); 
    box-shadow: 0 10px 20px black;
    border: 1px solid black;
    border-radius: 15px;
    font-family: 'New Rocker';
    font-size: 30px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.right p{
    margin-top: 20px;
    font-weight: 300;
    font-size: 20px;
    line-height: 2em;
    box-shadow: 0 10px 20px black;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    background: rgb(54,52,56);
    background: linear-gradient(90deg, rgba(54,52,56,1) 32%, rgba(92,90,87,1) 100%); 
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

/* Left Column Layout */
.design{
    background: rgb(193,183,203);
    background: linear-gradient(90deg, rgba(193,183,203,1) 0%, rgba(224,219,211,1) 100%);
    min-height: 400px;
    text-align: center;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 20px 60px black;
}

/* design h1 selector */
.design h1{
    height: 50px;
    line-height: 50px;
    background: rgb(18,128,148);
    background: linear-gradient(90deg, rgba(18,128,148,1) 0%, rgba(4,57,65,1) 35%, rgba(103,191,213,1) 100%); 
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 10px 20px black;
    font-family: 'New Rocker';
    font-size: 30px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

/* design p selector */
.design p{
    margin-top: 20px;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.6em;
    padding: 10px;
    box-shadow: 0 10px 20px black;
    border: 1px solid black;
    border-radius: 15px;
    background: rgb(54,52,56);
    background: linear-gradient(90deg, rgba(54,52,56,1) 32%, rgba(92,90,87,1) 100%); 
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

/* design dl */
.design dl{
    margin-top: 30px;
    line-height: 30px;
    max-height: 280px;
    box-shadow: 0 10px 20px black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    background: rgb(54,52,56);
    background: linear-gradient(90deg, rgba(54,52,56,1) 32%, rgba(92,90,87,1) 100%); 
    overflow: scroll;
}

/* design dt */
.design dt{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    color: black;
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
}

.design dd{
    color: white;
    padding: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.design ol{
    margin-top: 5px;
    margin-left: 20px;
    text-align: left;
    padding: 20px;
    line-height: 40px;
}

.design li{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.list-container{
    height: 450px;
    box-shadow: 0 10px 20px black;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 2.5em;
    background: rgb(54,52,56);
    background: linear-gradient(90deg, rgba(54,52,56,1) 32%, rgba(92,90,87,1) 100%); 
}

/* lessons */
.lessons{
    margin-top: 75px;
    max-height: 420px;
}

/* link selector */
.link{
    text-decoration: none;
    line-height: 3em;
    color: #FFC700;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*  */
.img-social{
    float: right;
    float: right;
    width: 40%;
    margin: 40px;
    margin-right: 50px;
    padding-right: 20px;
}

.img-social img{
    width:100%;
    height: 422px;
    object-fit:cover;
    object-position:50% 50%;
    border-radius: 15px;
    box-shadow: 20px 20px 40px black;
}

.table-container{
    height: 280px;
    box-shadow: 0 10px 20px black;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 2em;
    background: rgb(54,52,56);
    background: linear-gradient(90deg, rgba(54,52,56,1) 32%, rgba(92,90,87,1) 100%); 
}

table{
    width: 90%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 10px black;
    border-collapse: collapse;
    border-radius: 15px;
    -moz-border-radius:15px;
    background: rgb(193,183,203);
    background: linear-gradient(90deg, rgba(193,183,203,1) 0%, rgba(224,219,211,1) 100%);
}

td, th{
    border-radius: 15px;
    border-left:solid black 1px;
    border-top:solid black 1px;
    margin-bottom: 1em;
    text-align: left center;
    border-right: none;
    border-bottom: none;
}

tr{
    border-right: none;
    padding-right: 50px;
}

th {
    border-top: none;
    border-right: none;
}

td:first-child, th:first-child {
     border-left: none;
     border-right: none;
}

caption{
    margin-top: 5px;
    font-weight: 700;
    font-size: 1.2em;
    padding-bottom: 20px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#wrapper{
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto -142px;
}


footer{
    background: rgb(193,183,203);
    background: linear-gradient(90deg, rgba(193,183,203,1) 0%, rgba(224,219,211,1) 100%);
    border-top: 2px solid black;
    width: 100%;
    height: 150px;
    text-align: center;
}

footer .copy{
    font-size: 20px;
    margin-top: 30px;
}